#board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  max-width: 700px;
  margin: 5% auto;
  grid-column: 3 / 4; 
}

.row-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#first-row-board {
  border-top: 2px solid black;
}

#third-row-board {
  border-bottom: 2px solid black;
}
